.portifolio {
    margin-top: 50px;
    min-height: calc(100% - 50px);
    height: auto;
    width: 100%;
}

.portifolio .grey_block {
    background-color: #f4f4f4;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.portifolio .parte1 {
    width: 100%;
    min-height: 100vh;
    height: auto;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.portifolio .section {
    margin-bottom: 50px;
}

.portifolio .parte1 .box {
    position: relative;
    width: 450px;
    height: 400px;
    margin-left: 15px;
    margin-right: 15px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    transition: ease-in-out 0.3s;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.portifolio .parte1 .box img {
    opacity: 0.8;
    width: 55%;
    height: auto;
}

.portifolio .parte1 .box .title {
    bottom: 30px;
    right: 30px;
    font-size: 24px;
    position: absolute;
    color: #ffffff;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
}

.portifolio .description {
    background-color: #e3e3e1;
    font-family: "Poppins", sans-serif;
    text-align: left;
    width: 450px;
    margin-top: 30px;
    padding: 20px;
    border-radius: 4px;
    margin-left: 15px;
    margin-right: 15px;
}

.blue {
    color: #e7f3f5;
}

.portifolio .parte1 .box:hover {
    transform: scale(1.01);
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
}

.portifolio .block_1 {
    background-color: #64adb7;
}
.portifolio .block_2 {
    background-color: #ff5d5d;
}
.portifolio .block_3 {
    background-color: #ffd955;
}

.portifolio .section_title {
    text-align: left;
    margin-bottom: 20px;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 40px;
}

.portifolio .section_description {
    text-align: left;
    margin-bottom: 40px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.portifolio .subsection {
    min-height: 100vh;
    padding-top: 14vh;
    margin-left: 10%;
    margin-right: 10%;
    display: flex-column;
    align-items: center;
    justify-content: center;
}

.portifolio .subsection_title {
    text-align: left;
    text-transform: capitalize;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 10px;
}

.portifolio .subsection_description {
    text-align: left;
    text-transform: capitalize;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 40px;
}

.portifolio .projetos {
    justify-content: left;
}

.portifolio .projetos .section_options {
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.portifolio .projetos .section_options .section_box {
    height: 50vh;
    width: 32%;
    position: relative;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    transition: ease-in-out 0.3s;
}
.portifolio .projetos .section_options .section_box:hover {
    transform: scale(1.01);
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.7);
}

.portifolio .projetos .section_options .section_box .title {
    bottom: 30px;
    right: 30px;
    font-size: 24px;
    position: absolute;
    color: #ffffff;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
}

.portifolio .project_galery {
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.portifolio .project_galery .project {
    position: relative;
    height: 250px;
    width: 32%;
    min-width: 300px;
    margin-bottom: 30px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    background-color: #626397;
    transition: all 0.2s;
}

.portifolio .project_galery .project:hover {
    transform: scale(1.01);
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.7);
}

.portifolio .project_galery .project .project_name {
    bottom: 30px;
    right: 30px;
    font-size: 24px;
    position: absolute;
    color: #ffffff;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
}

@media screen and (max-width: 768px) {
    .portifolio {
        margin-top: 150px;
        width: 100%;
    }

    .portifolio .section {
        box-sizing: border-box;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }

    .portifolio .description {
        width: 100%;
    }

    .portifolio .parte1 .box {
        height: 200px;
        width: 100%;
    }
}
