.projeto_component {
    margin-top: 100px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.projeto_component .titulo {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    text-align: left;
    font-family: "Poppins", sans-serif;
    font-size: 60px;
}

.projeto_component .banner_principal {
    width: 100%;
    height: 50vh;
    background-color: #ffffff;
    position: relative;
}

.projeto_component .banner_principal .img_principal {
    position: absolute;
    object-fit: cover;
    margin: 0;
    clip-path: polygon(0 0, 100% 0, 79% 100%, 0 100%);
    z-index: 2;
    left: 0;
    width: 65%;
    height: 100%;
    background-color: #381d1d;
}

.projeto_component .banner_principal .description {
    position: absolute;
    z-index: 3;
    clip-path: polygon(30% 0, 100% 0, 100% 100%, 0 100%);
    right: 0;
    width: 46%;
    height: 100%;
    background-color: #e3e3e1;
}

.projeto_component .banner_principal .description .texto {
    margin-left: 34%;
    margin-right: 10%;
    margin-top: 6%;
    text-align: justify;
    width: 56%;
}

.projeto_component .additional_info {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.projeto_component .additional_info .bloco {
    height: 12vh;
    width: 300px;
    background-color: #ffdc5f;
    border-radius: 3px;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
}

.projeto_component .additional_info .bloco:last-child {
    margin-left: 30px;
}

.projeto_component .additional_info .bloco .bloco_titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35%;
    height: 100%;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 20px;
}

.projeto_component .additional_info .bloco .bloco_info {
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: left;
    width: 60%;
    margin-left: 5%;
    height: 100%;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 20px;
}
