.contato_form {
    min-height: 84vh;
    height: auto;
    position: relative;
}

.contato_form .background {
    position: absolute;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 50vw;
    background-color: #ffffff;
    opacity: 0.75;
    clip-path: polygon(0 0, 52% 0, 100% 100%, 0 100%);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    background-image: url("./images/2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.contato_form .form {
    width: 40%;
    align-items: center;
    position: absolute;
    top: 100px;
    right: 3%;
    padding: 50px;
}

.contato_form .form h1 {
    font-family: "Poppins", sans-serif;
    text-align: center;
    font-weight: 600;
    color: var(--logo-yellow);
    font-size: 45px;
    margin-bottom: 8px;
}

.contato_form .form h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    margin-bottom: 2px;
    font-size: 22px;
}

.contato_form .form h3 {
    margin-top: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: var(--logo-yellow);
    margin-bottom: 5px;
    font-size: 32px;
}

.contato_form .form p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.contato_form .form a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: inherit;
}

.contato_form .form a .whatsapp {
    color: #128C7E;
    font-size: 22px;
}

.contato_form .form a .phone:hover,
.contato_form .form a .phone:active {
    color: var(--logo-yellow);
}

.contato_form .form .budget-btn {
    background-color: var(--logo-yellow);
    border:none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    padding: 20px;
    margin: 25px;
}

.contato_form .form .budget-btn:hover,
.contato_form .form .budget-btn:active {
    background-color: var(--dark-yellow);
}

.contato_form .form .icons {
    width: 100%;
    margin-bottom: 8px;
    align-items: center;
    justify-content: center;
}

.contato_form .form .icon {
    color: #525252;
    height: 40px;
    width: 40px;
    transition: all 0.3s;
    cursor: pointer;
    margin: 0 2px;
}

.contato_form .form .icon:hover {
    color: var(--logo-yellow);
}

@media screen and (min-width:769px) and (max-width:1370px){

    .contato_form{
        min-height: 60vh;
    }

    .contato_form .form{
        padding: 10px;
    }
    .contato_form .form h1{
        font-size: 30px;
    }

    .contato_form .form h2,
    .contato_form .form a .whatsapp{
        font-size: 15px;
    }
}

@media screen and (max-width: 768px) {
    .contato_form {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        min-height: 60vh;
        padding-bottom: 40px;
    }

    .contato_form .background {
        display: none;
    }

    .contato_form .form {
        position: relative;
        top: 50px;
        width: 100%;
        right: 0;
    }

    .contato_form .form h1 {
        font-size: 32px;
    }

    .contato_form .form h2,
    .contato_form .form a .whatsapp {
        font-size: 20px;
    }

    .contato_form .form h3 {
        font-size: 24px;
    }
}
